.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $background-2;
}

.user-connect {
  display: flex;

  h5 {
    transform: translate(-15px, 8px);
  }
}

.popup {
  position: relative;
  top: 23px;

  p {
    transform: translate(-35px, -10px);
    width: 115px;
    opacity: 0;
  }
}

.popup-after {
  position: relative;
  top: 23px;

  p {
    transform: translate(-35px, -10px);
    width: 115px;
    opacity: 1;
  }
}
