.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .user-connect {
    display: flex;
    align-items: center;

    // h5 {
    //   transform: translateY(8px);
    //   margin-right: 15px;
    // }
  }
}

.popup {
  width: 50px;

  p {
    transform: translateX(-35px);
    width: 95px;
    opacity: 0;
    border: 1px solid;
    padding: 3px;
    border-radius: 2px;
    background: $color-4;
    color: $black;
  }
}

.popup-after {
  width: 50px;

  p {
    transform: translateX(-35px);
    width: 95px;
    opacity: 1;
    border: 1px solid;
    padding: 3px;
    border-radius: 2px;
    background: $color-4;
    color: $black;
  }
}
