@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font1: 'Bebas Neue', cursive;

/********* COLOR ************/

$color-1: #f6fbf8;
$color-2: #e5e5db;
$color-3: #d4d5cd;
$color-4: #fcfaf7;

$white: #ddd;
$black: #333;
$background: #0d1117;

/************** SETUP *****************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  user-select: none;
  background: $background;
}

h1,
h2,
h3,
h4,
p {
  color: $color-4;
}

h2 {
  font-family: $font1;
  letter-spacing: 3px;
  font-style: italic;
  font-weight: lighter;
}
