.login-form {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    color: $black;
    font-weight: lighter;
    font-size: 1.7rem;
  }

  .error {
    color: rgb(245, 9, 9);
  }

  .button-connect {
    p {
      margin-top: 1.5rem;
      color: $black;
      cursor: pointer;
      font-style: oblique;
    }
  }

  .no-account {
    position: absolute;
    bottom: 140px;
    left: 150px;
    .switch-create {
      display: flex;

      :nth-child(2) {
        color: rgb(114, 69, 238);
        cursor: pointer;
        margin-left: 10px;
      }
      p {
        color: $black;
      }
    }
  }
}

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 20px;
  width: 60%;
}

.form-field {
  font-family: $font-2;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $black;
  outline: 0;
  font-size: 0.9rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1rem;
    cursor: text;
    top: 15px;
  }
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $black;
  opacity: 0.7;
}

.form-field:focus {
  ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: $black;
    font-weight: lighter;
  }
  padding-bottom: 6px;
  font-weight: lighter;
  border-width: 1px;
  border-image: linear-gradient(to right, rgb(114, 69, 238), rgb(114, 69, 238));
  border-image-slice: 1;
}

.form-field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
